public/nuxt
public/storage
public/_nuxt
public/cdn

public/index.html

node_modules

/storage/*.key

/vendor
.env
.env.backup
.phpunit.result.cache



#IDE
.idea/
/.nuxt/
/nuxt/.nuxt/
draft.php
draft.*



docker_data/
